:root {
  --color-white: #ffffff;
  --primary-color: #2e2f42;
  --accent-color: #4d5ae5;
  --color-ocean: #404bbf;
  --color-slate: #434455;
  --color-cloud: #f4f4fd;
  --color-cornflower: #e7e9fc;
  --color-green: #31d0aa;
  --color-light-slate: #8e8f99;
  --color-dairy: #fcfcfc;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--color-slate);
  background-color: var(--color-white);
  font-size: 16px;
  line-height: 1.5;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

input,
textarea,
button {
  font: inherit;
}

a {
  text-decoration: none;
  outline: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  color: currentColor;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  min-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}

@media screen and (min-width: 428px) {
  .container {
    width: 428px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
    padding: 0 15px;
  }
}

/* PAGE STUDIO */

.header-page {
  border-bottom: 1px solid var(--color-cornflower);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .header-nav-item {
    display: none;
  }
}

.header-nav-list {
  display: flex;
  gap: 40px;
}

.hero-section-bg-img {
  margin: 0 auto;
  max-width: 1440px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/img-name.jpg");
}

.header-logo-blue {
  display: inline-block;
  margin-right: 76px;

  color: var(--accent-color);
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.header-logo-black {
  color: var(--primary-color);
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.header-nav-link {
  position: relative;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 24px 0;

  color: var(--primary-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.header-nav-link:hover,
.header-nav-link:focus {
  color: var(--color-ocean);
}

.header-nav-link.current {
  color: var(--color-ocean);
}

.header-nav-link.current::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--color-ocean);
  position: absolute;
  bottom: -1px;
  left: 0;
}

.header-contacts-list {
  display: flex;
  gap: 12px;
  flex-direction: column;
  padding-top: 16px;
  padding-bottom: 16px;
}

.header-contacts {
  font-style: normal;
  margin-left: auto;
}

@media screen and (max-width: 767px) {
  .header-contacts {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .header-contacts-list {
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 0;
  }
}

@media screen and (min-width: 1158px) {
  .header-contacts-list {
    padding-top: 24px;
    padding-bottom: 24px;
    display: flex;
    gap: 40px;
    flex-direction: row;
  }
}

@media screen and (min-width: 768px) {
  .header-contacts-link {
    color: var(--color-slate);
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: 1158px) {
  .header-contacts-link {
    font-size: 16px;
    line-height: 1.5;
    display: inline-block;
  }
}

.header-contacts-link:hover,
.header-contacts-link:focus {
  color: var(--color-ocean);
}

/* HERO SECTION */

.hero-section {
  background-color: var(--primary-color);
}

@media screen and (max-width: 1157px) {
  .hero-section {
    padding: 112px 0;
  }
}

@media screen and (min-width: 1158px) {
  .hero-section {
    padding: 188px 0;
  }
}

.hero-section-bg-img {
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/hero/hero-mobile-1x.jpg");
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero__bg-image {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/hero/hero-mobile-2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .hero__bg-image {
    width: 100%;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/hero/hero-tablet-1x.jpg");
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero__bg-image {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url("../images/hero/hero-tablet-2x.jpg");
    }
  }
}

@media screen and (min-width: 1158px) {
  .hero__bg-image {
    width: 100%;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/hero/hero-desktop-1x.jpg");
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero__bg-image {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url("../images/hero/hero-desktop-2x.jpg");
    }
  }
}

.hero-title {
  max-width: 320px;
  text-align: center;
  margin: 0 auto 72px;

  color: var(--color-white);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
}

@media screen and (min-width: 768px) {
  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    margin: 0 auto 36px;
  }
}

@media screen and (min-width: 1158px) {
  .hero-title {
    margin: 0 auto 48px;
  }
}

.hero-button {
  border-radius: 4px;
  padding: 16px 32px 16px 32px;
  border: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  display: block;
  margin: 0 auto;
  min-width: 169px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  color: var(--color-white);
  background-color: var(--accent-color);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--color-ocean);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

/* BENEFITS SECTION */

@media screen and (max-width: 1157px) {
  .benefits {
    padding: 96px 0;
  }
}

@media screen and (min-width: 1158px) {
  .benefits {
    padding: 120px 0;
  }
}

@media screen and (max-width: 767px) {
  .benefits-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
  }
}

@media screen and (min-width: 768px) {
  .benefits-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    row-gap: 72px;
    column-gap: 24px;
  }
}

@media screen and (min-width: 1158px) {
  .benefits-list {
    flex-wrap: nowrap;
    gap: 24px;
  }
}

@media screen and (min-width: 768px) {
  .benefits-item {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .benefits-item {
    width: calc((100% - 72px) / 4);
  }
}

.benefits-cover {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 112px;
  border-radius: 4px;
  background-color: var(--color-cloud);
  margin-bottom: 8px;
}

@media screen and (max-width: 1157px) {
  .benefits-cover {
    display: none;
  }
}

.benefits-title {
  color: var(--primary-color);
  text-align: center;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  margin-bottom: 8px;
}

@media screen and (min-width: 768px) {
  .benefits-title {
    text-align: start;
  }
}

@media screen and (min-width: 1158px) {
  .benefits-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
}

.benefits-text {
  color: var(--color-slate);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}

@media screen and (min-width: 1158px) {
  .benefits-text {
    font-weight: 400;
  }
}

/* PREVIEW */

@media screen and (max-width: 1157px) {
  .preview {
    display: none;
  }
}

@media screen and (min-width: 1158px) {
  .preview {
    padding-bottom: 120px;
  }

  .preview-title {
    color: var(--primary-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
  }

  .preview-list {
    display: flex;
    gap: 24px;
  }
}

/* OUR TEAM */

.team {
  background-color: var(--color-cloud);
}

@media screen and (max-width: 1157px) {
  .team {
    padding: 96px 0;
  }
}

@media screen and (min-width: 1158px) {
  .team {
    padding: 120px 0;
  }
}

.team-title {
  margin-bottom: 72px;

  color: var(--primary-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.team-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 72px;
}

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 64px;
    column-gap: 24px;
  }
}

@media screen and (min-width: 1158px) {
  .team-list {
    flex-wrap: nowrap;
    gap: 24px;
  }
}

.team-item {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;

  background-color: var(--color-white);
}

@media screen and (min-width: 768px) {
  .team-item {
    width: calc((100%-24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .team-item {
    width: calc((100%-72px) / 4);
  }
}

.team-cover {
  padding: 32px 0;
}

.team-member {
  text-align: center;
  margin-bottom: 8px;

  color: var(--primary-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.team-occupation {
  text-align: center;

  color: var(--color-slate);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.team-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.team-icons-item {
  width: 40px;
  height: 40px;
}

.team-icons-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icons-link:hover,
.team-icons-link:focus {
  background-color: var(--color-ocean);
}

.team-icon {
  fill: var(--color-cloud);
}

/* CUSTOMERS SECTION */

@media screen and (max-width: 1157px) {
  .customers {
    padding: 96px 0;
  }
}

@media screen and (min-width: 1158px) {
  .customers {
    padding: 120px 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .customers-container {
    width: 552px;
  }
}

.customers-title {
  text-align: center;
  margin-bottom: 72px;

  color: var(--primary-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
}

.customers-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
  row-gap: 72px;
}

@media screen and (min-width: 768px) {
  .customers-list {
    gap: 24px;
    row-gap: 72px;
  }
}

@media screen and (min-width: 1158px) {
  .customers-list {
    gap: 24px;
  }
}

.customers-item {
  width: calc((100% - 16px) / 2);
  height: 88px;
}

@media screen and (min-width: 768px) {
  .customers-item {
    width: calc((100% - 48px) / 3);
  }
}

@media screen and (min-width: 1158px) {
  .customers-item {
    width: calc((100% - 120px) / 6);
  }
}

.customers-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: var(--color-light-slate);
  border-radius: 4px;
  border: 1px solid var(--color-light-slate);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: currentColor;
}

.customers-link:hover,
.customers-link:focus {
  color: var(--color-ocean);
  border-color: var(--color-ocean);
}

/* FOOTER */

.footer {
  background-color: var(--primary-color);
}

@media screen and (max-width: 1157px) {
  .footer {
    padding: 96px 0;
  }
}

@media screen and (min-width: 1158px) {
  .footer {
    padding: 100px 0;
  }
}

@media screen and (min-width: 768px) {
  .footer {
    padding: 100px 0;
  }
}

.footer-container {
  text-align: center;
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .footer-container {
    width: 552px;
    text-align: start;
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1158px) {
  .footer-container {
    display: flex;
    text-align: start;
  }
}

.footer-logo-cover {
  width: 264px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .footer-logo-cover {
    margin: 0 24px 0 0;
  }
}

@media screen and (min-width: 1158px) {
  .footer-logo-cover {
    margin-right: 120px;
  }
}

.footer-logo-blue {
  display: inline-block;
  margin-bottom: 16px;

  color: var(--accent-color);
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-logo-white {
  color: var(--color-cloud);
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-subtext {
  width: 264px;
  margin-left: auto;
  margin-right: auto;

  color: var(--color-cloud);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

.footer-cover {
  margin-top: 72px;
}

@media screen and (min-width: 768px) {
  .footer-cover {
    margin-top: 0;
  }
}

.footer-media-subtext {
  margin-bottom: 16px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-white);
}

@media screen and (min-width: 768px) {
  .footer-media-subtext {
    margin-top: 0;
  }
}

.footer-media-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.footer-media-item {
  width: 40px;
  height: 40px;
}

.footer-media-link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon {
  fill: var(--color-cloud);
}

.footer-media-link:hover,
.footer-media-link:focus {
  background-color: var(--color-green);
}

@media screen and (max-width: 767px) {
  .footer-subscribe-cover {
    margin-top: 72px;
  }
}

@media screen and (min-width: 768px) {
  .footer-subscribe-cover {
    margin-top: 72px;
  }
}

@media screen and (min-width: 1158px) {
  .footer-subscribe-cover {
    margin-top: 0;
    margin-left: 80px;
  }
}

.footer-subscribe-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-white);
  margin-bottom: 16px;
}

.footer-subscribe-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media screen and (min-width: 768px) {
  .footer-subscribe-form {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
}

.footer-subscribe-input {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color-white);
  background-color: transparent;
  min-width: 264px;
  min-height: 40px;
  flex-shrink: 0;
  padding-left: 16px;
  border-radius: 4px;
  border: 1px solid var(--color-white);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  outline: none;
}

@media screen and (min-width: 768px) {
  .footer-subscribe-input {
    width: 264px;
  }
}

.footer-subscribe-input::placeholder {
  color: var(--color-white);
}

.footer-subscribe-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color-white);
  background-color: var(--accent-color);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 40px;
  min-width: 165px;
  padding: 8px 24px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-left: auto;
  margin-right: auto;
}

.footer-subscribe-button:hover,
.footer-subscribe-button:focus {
  background-color: var(--color-ocean);
}

.footer-subscribe-icon {
  fill: var(--color-white);
  margin-left: 16px;
}

/* PORTFOLIO PAGE */

.proposals {
  padding: 96px 0 120px;
}

.nav-list-proposals {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.nav-button-proposals {
  border: 1px solid var(--color-cornflower);
  border-radius: 4px;
  padding: 12px 24px 12px 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  color: var(--accent-color);
  background-color: var(--color-cloud);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.nav-button-proposals:hover,
.nav-button-proposals:focus {
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
  border: 1px solid transparent;

  color: var(--color-white);
  background-color: var(--color-ocean);
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.product-link {
  cursor: pointer;
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.product-link:hover,
.product-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.product-link:hover .product-oveley-text,
.product-link:focus .product-oveley-text {
  transform: translateY(0%);
}

.product-overley-cover {
  position: relative;
  overflow: hidden;
}

.product-cover {
  border: 1px solid var(--color-cornflower);
  border-top: none;
  padding: 32px 16px;
}

.product-oveley-text {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 40px 32px;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  background-color: var(--accent-color);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--color-cloud);
}

.product-title {
  margin-bottom: 8px;

  color: var(--primary-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.product-type {
  color: var(--color-slate);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* MODAL WINDOW */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 408px;
  min-height: 584px;
  border-radius: 4px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  background-color: var(--color-dairy);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}

@media screen and (max-width: 427px) {
  .modal {
    max-width: 320px;
    overflow-y: scroll;
  }
}

@media screen and (min-width: 768px) {
  .modal {
    max-width: 408px;
  }
}

.modal-button-close {
  padding: 0;
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--color-cornflower);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button-close:hover,
.modal-button-close:focus {
  background-color: var(--color-ocean);
  border: none;
  fill: var(--color-white);
}

.modal-icon-close {
  fill: var(--primary-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button-close:hover:hover .modal-icon-close,
.modal-button-close:focus:focus .modal-icon-close {
  fill: var(--color-white);
}

.modal-title {
  color: var(--primary-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  text-align: center;
  margin-bottom: 16px;
  display: block;
}

.modal-cover {
  margin-bottom: 8px;
}

.modal-label {
  color: var(--color-light-slate);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  display: block;
  margin-bottom: 4px;
}

.modal-icon-cover {
  position: relative;
}

.modal-input {
  width: 100%;
  height: 40px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: var(--accent-color);
}

.modal-input:focus + .modal-icon {
  fill: var(--accent-color);
}

.modal-icon {
  fill: var(--primary-color);
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text-field-cover {
  margin-bottom: 16px;
}

.modal-text-field {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  width: 100%;
  min-height: 120px;
  padding: 8px 16px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
}

.modal-text-field::placeholder {
  color: rgba(46, 47, 66, 0.4);
}

.modal-text-field:focus {
  border-color: var(--accent-color);
}

.modal-check-cover {
  margin-bottom: 24px;
}

.modal-check-input:checked + .modal-check-text .modal-check-box {
  background-color: var(--color-ocean);
  border: none;
  fill: var(--color-cloud);
}

.modal-check-text {
  color: var(--color-light-slate);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  display: block;
}

.modal-check-box {
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  margin-right: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-link-text {
  margin-left: 4px;
  color: var(--accent-color);
  text-decoration: underline;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-link-text:hover,
.modal-link-text:focus {
  color: var(--color-ocean);
}

.modal-button-submit {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 16px 32px;
  margin: 0 auto;
  display: block;
  color: var(--color-white);
  text-align: center;
  border: none;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button-submit:hover,
.modal-button-submit:focus {
  background-color: var(--color-ocean);
}

/* -- MOBILE MENU -- */

@media screen and (min-width: 768px) {
  .mobile-menu-open {
    display: none;
  }
}

.mobile-menu-open {
  padding: 24px 0;
  line-height: 0;
  background-color: transparent;
  border: none;
  margin-left: auto;
}

.mobile-menu-open-icon {
  fill: var(--primary-color);
}

.mobile-menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-white);
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-container.is-open {
  visibility: visible;
  pointer-events: auto;
  transform: translateX(0);
}

@media screen and (max-width: 767px) {
  .mobile-menu-cover {
    max-width: 428px;
  }
}

.mobile-menu-cover {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 80px 40px 40px 40px;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
}

.mobile-menu-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-close:hover,
.mobile-menu-close:focus {
  background-color: var(--color-ocean);
  border: none;
  fill: var(--color-white);
}

.mobile-menu-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-item:not(:last-child) {
  margin-bottom: 40px;
}

.mobile-menu-nav {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--primary-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-nav:hover,
.mobile-menu-nav:focus {
  color: var(--color-ocean);
}

.mobile-menu-nav.current {
  color: var(--color-ocean);
}

.mobile-menu-contacts {
  margin-top: auto;
  margin-bottom: 40px;
}

.mobile-menu-contacts-item:last-child {
  margin-top: 40px;
}

.mobile-menu-contacts-tel {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--accent-color);
}

.mobile-menu-contacts-mail {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-slate);
}

.mobile-menu-social-list {
  display: flex;
  justify-content: start;
  gap: 56px;
}

.mobile-menu-social-item {
  width: 40px;
  height: 40px;
}

.mobile-menu-social-icon {
  fill: var(--color-cloud);
}

.mobile-menu-social-link {
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-social-link:focus {
  background-color: var(--color-ocean);
}

@media screen and (max-width: 427px) {
  .mobile-menu-social-list {
    gap: calc((100% - 160px) / 4);
  }

  .mobile-menu-contacts-tel {
    font-size: 24px;
  }
}
